*{
    padding:0;
    margin: 0;
}
.header_container{
    height: 60px;
    background-color: rgb(27,47,199);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo{
    width: 200px;
    object-fit: contain;
    height: 50px;
}

.nav_hold{
    color: white;
}

span{
    margin-right: 20px;
}

.header_container2{
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.navbar{
    background-color: rgb(27,47,199);
    padding: 20px 0px;
}
.nav-link{
    color: white;

}
.nav-link:hover{
    color: white;
}

.navbar-brand{
    margin-right: 500px;
}

.hero_container{
    height: 300px;
    background-color: #182FC7;
    border-top: 1px solid white;
    
}

.hero_container2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    color: white;
    
}
@media (max-width: 1024px) { 
    .navbar-brand{
        margin-right: 130px;
    }
    
}